@import "https://unpkg.com/open-props/easings.min.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;

    --global-fontFam: 'Manrope', sans-serif;

    --global-space-s: 1rem;
    --global-space-m: 1.5rem;

    --currentColor: var(--spotify-white);
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    --background-color: var(--spotify-black);
    --text-color: var(--spotify-white);

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--global-fontFam);
}

/* center everything */

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/

.toggle {
    display: grid;
    place-items: center;

    & .toggle__icon {
        grid-column: 1;
        grid-row: 1;

        transition: all 0.3s var(--ease-elastic-1);
    }
    
    & .icon--add{
        opacity: 1;
        transform: rotate(0deg);
    }

    & .icon--check{
        opacity: 0;
        transform: rotate(90deg);
        fill: var(--spotify-green);
        stroke: var(--spotify-green);
    }

    &.added{
        & .icon--add{
            opacity: 0;
            transform: rotate(90deg);
        }
        & .icon--check{
            opacity: 1;
            transform: rotate(0deg);
        }
    }
}

/*
    Album
*/

.album{
    --album-backgroundColor: var(--spotify-darkGrey);

    max-width: 25rem;
    background-color: var(--album-backgroundColor);
    padding: var(--global-space-m);
    border-radius: 1rem;

    & .album__img{
        border-radius: 0.5rem;
        margin-bottom: var(--global-space-s);
    }

    & .album__header{
        display: grid;
        grid-template-columns: 1fr 2rem;
        grid-template-areas: 
            'title button'
            'artist button';
    }

    & .album__title{
        grid-area: title;
    }

    & .album__artist{
        grid-area: artist;
    }

    & .album__action{
        grid-area: button;
        fill: var(--currentColor);
        stroke: var(--currentColor);
    }

}

/*
    Utitlities
*/

.color-grey {
    color: var(--spotify-grey);
}